# Maven #
target/
log/
dependency-reduced-pom.xml

# IntelliJ Idea #
.idea/
*.iml
*.iws

# Eclipse #
.project
.classpath
.settings/

# Mac #
.DS_Store

# Logs #
*.log

# Package Files #
*.jar
*.war
*.ear

# Ignore compiled classs #
*.class
